<div class="table-container">
    <button mat-raised-button color="primary" (click)="openAddUserDialog()">Add User</button>
    <mat-form-field class="search">
     <input matInput type="search" [(ngModel)]="filterString" name="searchText" placeholder="Search">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource.data | search:filterString" class="mat-elevation-z8" >
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef>Username</th>
        <td mat-cell *matCellDef="let user">{{ user.username }}</td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>
        <td mat-cell *matCellDef="let user">{{ user.email }}</td>
      </ng-container>
  
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let user">{{ user.phone }}</td>
      </ng-container>
  
      <!-- <ng-container matColumnDef="passwordHint">
        <th mat-header-cell *matHeaderCellDef>Password Hint</th>
        <td mat-cell *matCellDef="let user">{{ user.passwordHint }}</td>
      </ng-container> -->
    <div class="btn">
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>Actions</th>
        
        <td mat-cell *matCellDef="let user">
          <button style="margin-right: 10px;" mat-raised-button color="primary" (click)="editUser(user)">edit</button>
          <button mat-raised-button color="warn" (click)="deleteUser(user)">Delete</button>
        
        </td>
      </ng-container>
    </div>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let user; columns: displayedColumns;"></tr>

    </table>
  </div>
  
